* {
  box-sizing: border-box;
}
html {
  -webkit-text-size-adjust: 100%;
  font-family: sans-serif;
  background: #333;
}
body {
  margin: 0;
  padding-left: 20%;
  padding-right: 20%;
  background-color: #555C5E;
  font-family: 'Slabo 27px', serif;
}
header, main, aside, footer {
  padding: 2em;
}
header {
  background: lightgrey;
  text-align: center;
  width: 100%
}

#navbar ul {
	margin: 0;
	padding: 5px;
	list-style-type: none;
	text-align: center;
	background-color: #303537;
	}

#navbar ul li {
	display: inline;
	}

#navbar ul li a {
	text-decoration: none;
	padding: .2em 1em;
	color: #60041A;
	background-color: #000;
	}

#navbar ul li a:hover {
	color: #000;
	background-color: #fff;
	}
main {
  background: white;

}
aside {
  background: aliceblue;
}
footer {
  position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #60041A;
    color: #ffffff;
    text-align: center;
    height: 10px;
}
@media (min-width: 600px) {
  main, aside {
    float: left;
  }
  main {
    width: 70%;
  }
  aside {
    width: 30%;
  }
  footer {
    clear: both;
  }
}
